@import './src/css/book-gallery/books/books.scss', './src/css/book-gallery/categories/categories.scss', './src/css/header/header.scss', './src/css/slider/slider.scss', './src/css/cart/cart.scss';


@font-face {
    font-family: Montserrat;
    font-weight: 500;
    font-style: normal;
    src: url('./fonts/Montserrat-Medium.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button,
a {
    cursor: pointer;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}


.btn.added{
    margin: 0 auto;
    padding: 18px 61px;
    width: 176px;
    display: flex;
    border: 1px solid #5C6A79;
    background: transparent;
    font-size: 8px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #5C6A79;
}

.btn,
#load-more {
    margin: 0 auto;
    padding: 18px 61px;
    width: 176px;
    display: flex;
    font-size: 8px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    border: 1px solid #4C3DB2;
    background: transparent;
    color: #4C3DB2;
}

.btn a,
#load-more a {
    font-size: 8px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    color: #4C3DB2;

}

#load-more {
    margin-bottom: 74px;
}
