.container {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

.sticky {
  margin-top: 55px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: sticky;
  top: -1px;
  display: flex;
  align-items: center;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  z-index: 9;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

.header__menu-item {
  color: #5C6A79;
}

.header-books {
  font-weight: 900;
  color: #1C2A39;
}

.header__icons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__icons-user, .header__icons-search, .header__icons-bag {
  background-color: transparent;
  border: none;
}

.header__icons-bag {
  position: relative;
  width: 14px;
  height: auto;
  background-image: url("/src/img/icons/shop-bag.svg");
  background-repeat: no-repeat;
}

.header__icons-bag .items-number {
  background-color: #FF353A;
  border-radius: 50%;
  width: 13px;
  height: auto;
  position: absolute;
  color: #FFF;
  padding: 4px;
  top: 8px;
  left: 4px;
  font-size: 10px;
}